.wrapper {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  height: 64px;
  background: #0000004d;
  transition: all 0.3s linear;
  &.sticky {
    position: sticky;
    top: 0;
    height: 56px;
    background-color: #3b3b3b;
    z-index: 1;
    .header-container {
      .logo {
        height: 56px;
      }
    }
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 224px;
    height: 100%;
    .logo {
      height: 64px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .badge {
      position: relative;
      width: 24px;
      height: 24px;
      color: #ffcb07;
      i {
        font-size: 20px;
      }
      span {
        width: 16px;
        height: 16px;
        position: absolute;
        top: -4px;
        right: -4px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 900;
        color: red;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    .header-container {
      max-width: 100%;
      padding: 0 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: 48px;
    &.sticky {
      height: 42px;
      .header-container {
        .logo {
          height: 42px;
        }
      }
    }
    .header-container {
      padding: 0 16px 0;
      .logo {
        width: 85%;
        height: 48px;
      }
    }
  }
}