.wrapper {
  min-height: calc(100vh - 64px);
  padding: 24px;
  position: relative;
}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 12px 0;
    h1 {
      margin-top: 0 !important;
      font-size: 32px;
    }
  }
}
