.wrapper {
  padding: 24px;
  text-align: center;
  position: relative;
  .loading {
    width: 100%;
    height: 100vh;
    text-align: center;
    img {
      margin-top: 96px;
      width: 48px;
      height: 48px;
    }
  }
  .body {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    .image {
      min-width: 256px;
      width: 256px;
      min-width: 256px;
      height: 256px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .detail {
      margin-left: 32px;
      margin-top: 24px;
      h2 {
        text-align: left;
      }
      table {
        td {
          &:nth-child(1) {
            text-align: right;
            padding-right: 16px;
          }
          &:nth-child(2) {
            text-align: left;
            padding-left: 16px;
          }
        }
      }
    }
  }
  .other {
    margin-top: 24px;
    h2 {
      text-align: left;
    }
    table {
      th,
      td {
        text-align: left;
        vertical-align: baseline;
        text-align: justify;
        &.name {
          width: 10%;
          max-width: 10%;
        }
        &.short-effect {
          width: 35%;
          max-width: 35%;
        }
        &.effect {
          width: 55%;
          max-width: 55%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 12px 0;
    h1 {
      margin-top: 0 !important;
      font-size: 32px;
    }
    .body {
      margin-top: 0px;
      .image {
        min-width: 128px;
        width: 128px;
        height: 128px;
      }
      .detail {
        margin-left: 8px;
        margin-top: 12px;
        h2 {
          font-size: 20px;
        }
        table {
          margin-bottom: 8px;
          td {
            &:nth-child(1) {
              padding-right: 4px;
            }
            &:nth-child(2) {
              padding-left: 4px;
            }
          }
        }
      }
    }
    .other {
      margin-top: 8px;
      h2 {
        text-align: left;
      }
      table {
        th,
        td {
          font-size: 14px;
        }
      }
    }
  }
}
