@media screen and (max-width: 1024px) {
  .container {
    padding: 0 16px;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  table {
    margin-top: 8px;
    tr {
      th,
      td {
        padding-top: 4px;
        padding-bottom: 4px;
        &:first-child {
          padding: 0 8px 0 0;
        }
        &:last-child {
          padding: 0 0 0 8px;
        }
      }
    }
  }
  .type {
    width: 48px;
    font-size: 12px;
    line-height: 1.2rem;
  }
  .grid {
    margin-top: 40px;
    padding-top: 16px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }
  .back {
    top: 22px;
  }
}
