h1 {
  text-transform: unset !important;
  margin-top: 12px !important;
  &.success {
    color: #28a745;
  }
  &.warning {
    color: #ffc107;
  }
}
.detail {
  display: flex;
  margin-top: 16px;
  .image {
    min-width: 224px;
    width: 224px;
    height: 224px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .body {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      .name {
        text-transform: capitalize;
        margin-bottom: 4px;
      }
    }
    .bottom {
      padding-bottom: 24px;
      input {
        width: 100%;
        height: 36px;
        border-radius: 8px;
        border: 1px solid #bdbdbd;
        padding: 0 8px;
      }
      .action {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          min-width: 104px;
          & + button {
            margin-left: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .modal-title {
    font-size: 28px !important;
    line-height: 130% !important;
  }
  .detail {
    margin-top: 0;
    .image {
      min-width: 144px;
      width: 144px;
      height: 144px;
    }
    .body {
      .bottom {
        input {
          margin-top: 4px;
        }
        .action {
          margin-top: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            height: 32px;
            min-width: 96px;
            & + button {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
